[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
black = "*"
flake8 = "*"
flynt = "*"
twine = "*"
setuptools = "*"
wheel = "*"

[packages]
defusedxml = "*"

[requires]
python_version = "3.8"
